<p id="notice"><%= notice %></p>

<h1>Work Hours</h1>

<div class="form-inline">
  <div class="form-group mx-sm-3 mb-2">
    <%= link_to 'New Work Hour', new_work_hour_path, {:class => 'btn btn-primary'} %>
  </div>
</div>

<%= form_tag work_hours_path, :method => 'get', :class => 'form-inline' do %>
  <div class="form-group mx-sm-3 mb-2">
    <label for="project" class="sr-only">Project</label>
    <%= select '', :project, @project_options, {:prompt => 'project', :selected => params[:project]}, {:id => 'project', :class => 'form-control'} %>
  </div>

  <div class="form-group mx-sm-3 mb-2">
    <label for="year" class="sr-only">Year</label>
    <%= text_field_tag :year, params[:year], {:id => 'year', :class => 'form-control', :placeholder => 'Year'} %>
  </div>

  <div class="form-group mx-sm-3 mb-2">
    <label for="month" class="sr-only">Month</label>
    <%= text_field_tag :month, params[:month], {:id => 'month', :class => 'form-control', :placeholder => 'Month'} %>
  </div>

  <div class="form-group mx-sm-3 mb-2">
    <%= submit_tag "Search", {:class => 'btn btn-dark'} %>
  </div>
<% end %>

<br>

<%= paginate @work_hours, params: {project: params[:project], year: params[:year], month: params[:month]} %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Project</th>
      <th>Date</th>
      <th>Hour</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @work_hours.each do |work_hour| %>
      <tr>
        <td><%= work_hour.project %></td>
        <td><%= work_hour.date %>&nbsp;(<%= work_hour.date.strftime("%a") %>)</td>
        <td><%= work_hour.hour %></td>
        <td><%= link_to 'Show', work_hour %></td>
        <td><%= link_to 'Edit', edit_work_hour_path(work_hour) %></td>
        <td><%= link_to 'Destroy', work_hour, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p class="lead text-right">Total Hour: <%= @total %></p>

<canvas id="workHourChart" width="400" height="400"></canvas>
<%= javascript_tag do %>
  draw_graph(<%== @chart_labels %>, <%= @chart_datas %>);
<% end %>
