<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @work_hour.project %>
</p>

<p>
  <strong>Date:</strong>
  <%= @work_hour.date %>
</p>

<p>
  <strong>Hour:</strong>
  <%= @work_hour.hour %>
</p>

<%= link_to 'Edit', edit_work_hour_path(@work_hour) %> |
<%= link_to 'Back', work_hours_path %>
